# Data Types

In [2]:
# Numeric Types:

# int: Represents integers (whole numbers) like 10, -5, or 42.
# float: Represents floating-point numbers (numbers with decimals) like 3.14, -1.23e-5, or 1.79769e+308.
# complex: Represents complex numbers with a real and imaginary part, written as real + imaginary*j where j represents the imaginary unit.

# Sequence Types:

# list: An ordered, mutable collection of items enclosed in square brackets []. Elements can be of different data types. Example: [1, "hello", 3.14].
# tuple: An ordered, immutable collection of items enclosed in parentheses (). Elements cannot be changed after creation. Example: (10, "world", True).
# range: Represents a sequence of numbers within a specified range. Often used in loops. Example: range(5) creates a sequence from 0 to 4 (excluding 5).

# Set Types:

# set: An unordered collection of unique elements enclosed in curly braces {}. Example: {1, "apple", 2.5}.
# frozenset: An immutable version of a set. Once created, elements cannot be changed.


# Mapping Type:

# dict: An unordered collection of key-value pairs enclosed in curly braces {}. Keys must be unique and immutable (like strings or numbers), while values can be of any data type. Example: {"name": "Alice", "age": 30}.

# Other Data Types:

# str: Represents a sequence of characters (text) enclosed in single or double quotes. Example: "This is a string".
# bool: Represents Boolean values, either True or False.
# bytes: Represents a sequence of bytes (binary data) enclosed in b'' quotes. Example: b'\x48\x65\x6c\x6c\x6f'.
# bytearray: A mutable version of bytes.
# memoryview: Allows accessing a memory buffer.
# None: Represents the absence of a value.


# You can use the type() function to check the data type of any variable in Python. Understanding these data types is essential for effectively storing, manipulating, and organizing data in your Python programs.
# id() to get address of object

In [5]:
a = 10  #base-10

In [4]:
type(a)

int

In [12]:
a= 0B123 # base-2 (invalid binary , should contain only 1 or 0)
print(a)

SyntaxError: invalid digit '2' in binary literal (500051519.py, line 1)

In [24]:
a=0b111 # base-2 (only 0 or 1 and starting with 0B or 0b)
print(a)# (3∗2^0+2∗2^1+1∗2^2) i.e. 1*1 + 1*2 + 1*4 
#                                = 1 + 2 + 4 
# 7

7

In [25]:
a=0B100
print(a) # expected value is 4

4

In [26]:
a=0O123 # base-8 (allowed 0-7 and starting with 0o or 0O
print(a)

83

In [27]:
octal_num = 0o123
print(octal_num)

83

In [28]:
octal_num = 0o103  # (3∗8^0+0∗8^1+1∗8^2) i.e. 3*1 + 0*8 + 1*64
print(octal_num)  # 3+ 0 + 64 = 67

67

In [29]:
print(oct(octal_num))

0o103

In [32]:
hexas_num=0xA23 # base-16 (allowed 0-9,a-f(small or capital case) and starting with 0x or 0X
print(hexas_num) # (3∗16^0+2∗16^1+10∗16^2) i.e. 3*1 + 2*16 + 10*256
#                             = 3 + 32 + 2560
#                             = 2595

2595

In [33]:
# Base Conversion
# bin() -> convert any base to binary
# oct() -> convert any base to octal
# hex() -> convert any base to hexa decimal

In [34]:
hex(2595)

'0xa23'

In [35]:
oct(67)

'0o103'

In [36]:
bin(7)

'0b111'

In [37]:
# float data type
float_value=22/7
print(float_value)

3.142857142857143

In [38]:
type(float_value)

float

In [40]:
float_value_1=1.2e3 # 1.2 * 1000 = 1200.0
print(float_value_1)

1200.0

In [42]:
# complex data type
# a + bj (a = realpart, b is imaginary part)
complex_value=3+2j
print(complex_value)
print(type(complex_value))

(3+2j)
<class 'complex'>

In [43]:
print(complex_value.real)
print(complex_value.imag)

3.0
2.0

In [44]:
complex_new_value = 2 + complex_value
print(complex_new_value)

(5+2j)

In [45]:
complex_new_value = 2.5 + complex_value
print(complex_new_value)

(5.5+2j)

In [46]:
complex_new_value = (0 + 2.5J) + complex_value
print(complex_new_value)

(3+4.5j)

In [47]:
complex_new_value = (0 + 2.5j) + complex_value
print(complex_new_value)

(3+4.5j)

In [55]:
complex_new_value = 2.5j + complex_value
print(complex_new_value)

(3+4.5j)

In [56]:
# bool data type
bool_value = True
print(bool_value)

True

In [57]:
bool_value = False
print(bool_value)
print(type(bool_value))

False
<class 'bool'>

In [58]:
bool_value = None
print(bool_value)
print(type(bool_value))

None
<class 'NoneType'>

In [59]:
# str (String) data type
str_value = 'John'
print(str_value)
print(type(str_value))

John
<class 'str'>

In [60]:
# single quotes or triple double quotes or triple single quotes
str_value = 'John Smith'
print(str_value)


str_value = '''John
                     Smith'''
print(str_value)


str_value = """John
                    Smith"""
                     
print(str_value)

John Smith
John
                     Smith
John
                    Smith

In [62]:
# Slicing of Strings
str_value = 'John Smith'
print(str_value[-1]) # -1 is the last character - h

h

In [63]:
str_value = 'John Smith'
print(str_value[-3])# -3 is the last 3rd character - i

i

In [65]:
str_value = 'John Smith'
print(str_value[-30])# -30 is the last 30th character , which is invalid and return an error as index out of range

IndexError: string index out of range

In [66]:
str_value = 'John Smith'
print(str_value[30])# 30 th character , which is invalid and return an error as index out of range

IndexError: string index out of range

In [68]:
str_value = 'John Smith'
print(str_value[3])# start with 0, 3rd position is n

n

In [69]:
str_value = 'John Smith'
print(str_value[31])# start with 0, 31st position is invalid i.e. index out of range

IndexError: string index out of range

In [71]:
str_value = 'John Smith'
print(str_value[1:3])# start with 0,  1 to 3-1 characters i.e. oh

oh

In [73]:
str_value = 'John Smith'
print(str_value[1:6]) # ohn S

ohn S

In [77]:
str_value = 'John Smith'
print(str_value[1:-1]) # start with 0,  1 to n-1 characters i.e. ohn Smit

ohn Smit

In [78]:
str_value = 'John Smith'
print(str_value[-1:2]) # start with last character and then 2 character will always return empty

In [84]:
str_value = 'John Smith'
print(str_value[:2])

Jo

In [85]:
str_value = 'John Smith'
print(str_value[:-2]) # starting first character to minus last 2 characters

John Smi

In [86]:
str_value = 'John Smith'
print(str_value[:30]) # start with 0 character and then 30 character, so outpout is John Smith

John Smith

In [88]:
str_value = 'John Smith'
print(str_value[:-3]) # starting with 0 until minus -3 character

John Sm

In [90]:
str_value = 'John Smith'
print("output is "+str_value[:-30]) # starting with 0 until minus -30 character, so it will print empty

output is

In [91]:
# Fundametal Date types (immutable except complex)
#. int, float, complex, bool, str

In [92]:
# Type Casting
# int(), float(), complex(), bool(), str()

In [93]:
int(123.456)

123

In [95]:
int(2+5j) # gives error can't accept complext data type

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [96]:
int(True)

1

In [97]:
int('0')

0

In [102]:
int('abc')  # string can't be converted to integer

ValueError: invalid literal for int() with base 10: 'abc'

In [103]:
int('126.11') # should accept only with base10

ValueError: invalid literal for int() with base 10: '126.11'

In [104]:
int('0b111') # it base2 but int function can accept only base-10

ValueError: invalid literal for int() with base 10: '0b111'

In [105]:
float('164.11')

164.11

In [106]:
float(3+4j) # error can't convert complext to float

TypeError: float() argument must be a string or a real number, not 'complex'

In [107]:
float('0x123') # could not convert string to float: '0x123'

ValueError: could not convert string to float: '0x123'

In [109]:
complex(10) # 10+0j

(10+0j)

In [110]:
complex(10+5)

(15+0j)

In [111]:
complex(True)

(1+0j)

In [112]:
complex(False)

0j

In [113]:
float(True)

1.0

In [114]:
float(False)

0.0

In [115]:
complex('abc') #complex() arg is a malformed string

ValueError: complex() arg is a malformed string

In [117]:
bool(0)

False

In [118]:
bool(10)

True

In [119]:
bool(1.5)

True

In [120]:
bool(0.0)

False

In [121]:
bool(10+2j)

True

In [122]:
bool(2j)

True

In [123]:
bool("")

False

In [124]:
bool("True")

True

In [126]:
a=2+3j
b=2+3j
a is b

False

In [135]:
# list data type
list_data=[1,2,3,4]
# insertion order is preserved, heterogenous objects are allowed,
# duplicates are allowed
for i in list_data :
    print(i)

1
2
3
4

In [129]:
for i in enumerate(list_data):
    print(i) # prints pair index, value

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [130]:
list_data[0]

1

In [131]:
list_data[2]

3

In [132]:
list_data.index(4)

3

In [133]:
list_data[-1]

4

In [134]:
list_data[0]=100
list_data[0]

100

In [136]:
list_data[1:3]

[2, 3]

In [137]:
list_data[1:-3]

[]

In [138]:
list_data[1:-1]

[2, 3]

In [139]:
list_data = list_data * 2
list_data

[1, 2, 3, 4, 1, 2, 3, 4]

In [140]:
# tuple data type
# it is same as list except that it is immutable i.e. we cannot change value
tuple_data = (10,20,30,40)
type(tuple_data)

tuple

In [142]:
tuple_data[0]=100 # error doesn't support but the same supports for list because list is mutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
# range Data Type 
# represents sequence of numbers and is immutable (not modifiable)

In [143]:
range_data = range(10)
print(range_data)

range(0, 10)

In [144]:
for i in range_data:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [145]:
range_data = range(10,20)
for i in range_data:
    print(i)

10
11
12
13
14
15
16
17
18
19

In [146]:
range_data = range(10,20,3) # increment of 3
for i in range_data:
    print(i)

10
13
16
19

In [147]:
range_data[0] = 100 #error

TypeError: 'range' object does not support item assignment

In [2]:
# set data type (mutable)
# set is same as list but doesn't allow duplicates
# insertion order is not preserved, duplicates are allowed
# hetrogenous objects are allowed
s= {10,20,30,40,50}
for i in enumeration(s):  # doesn't support enumeration
    print(s)

NameError: name 'enumeration' is not defined

In [4]:
for i in s:  
    print(i)

50
20
40
10
30

In [5]:
sorted(s)

[10, 20, 30, 40, 50]

In [6]:
sorted(s, reverse=True) # desc order

[50, 40, 30, 20, 10]

In [7]:
len(s)

5

In [8]:
type(s)

set

In [9]:
s= {10,20,30,40,50,10} # elimates duplicares and preserves in asc order

In [10]:
s

{10, 20, 30, 40, 50}

In [11]:
s = {10,2+3j, 'nit'}

In [12]:
s

{(2+3j), 10, 'nit'}

In [13]:
s= {10,20,30,40,50,10}

In [15]:
s[0] # index and slice is not allowed

TypeError: 'set' object is not subscriptable

In [16]:
len(s)

5

In [17]:
s.add(15)

In [18]:
s

{10, 15, 20, 30, 40, 50}

In [19]:
s.append(12)
s

AttributeError: 'set' object has no attribute 'append'

In [20]:
s1={a+2j,3,2,'int'}
s3 = s + s1
s3

NameError: name 'a' is not defined

In [21]:
s1={5+2j,3,2,'int'}
s3 = s + s1
s3

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [22]:
s3 = {s, s1}
print(s3)

TypeError: unhashable type: 'set'

In [23]:
s3 = s.union(s1)

In [24]:
s3

{(5+2j), 10, 15, 2, 20, 3, 30, 40, 50, 'int'}

In [25]:
for i in enumeration(s):  # doesn't support enumeration
      print(s)

NameError: name 'enumeration' is not defined

In [ ]:
for i in enumeration(s):  # doesn't support enumeration
      print(s)